body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #efeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b152b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: 4rem;
}

img {
  display: inline-flex;
  flex-grow: 1;
}

p {
  font-size: 18px;
}

@keyframes move {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.1);
  }
}

.box {
  height: 100px;
  width: 100px;
  transition: all 0.2s;
  animation: move 1s ease-in-out alternate infinite;
  z-index: 3;
  position: relative;
}

.box:hover {
  filter: drop-shadow(5px 5px 0 #e0d8f0) drop-shadow(-5px -5px 0 #e0d8f0) drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  animation: none;
  transform: scale(1.2);
}
